.patient-card {
  display: flex;

  width: 600px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.public-card {
  display: flex;

  width: 600px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .public-card {
    width: 350px;
  }
}

.patient-view-title {
  margin-bottom: 0px;
}

.patient-card-content {
  flex-grow: 1;
}

.patient-card-group:not(:first-child) {
  margin-top: 25px;
}

.patient-card-group p:not(:last-child) {
  margin-bottom: 7px;
}

.patient-card-group h2 {
  margin-bottom: 10px;
}

.patient-card-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
